* text=auto !eol
/Makefile -text
core/Makefile -text
core/QuikGrid-vc7.sln -text
core/QuikGrid-vc7.vcproj -text
core/QuikGrid-vc8.sln -text
core/QuikGrid-vc8.vcproj -text
core/QuikGrid-vc9.sln -text
core/QuikGrid-vc9.vcproj -text
core/contour.cpp -text
core/contour.h -text
core/demo.cpp -text
core/gridxtyp.cpp -text
core/gridxtyp.h -text
core/qgcapi.cpp -text
core/readme.txt -text
core/scatdata.cpp -text
core/scatdata.h -text
core/surfgrid.cpp -text
core/surfgrid.h -text
core/xpand.cpp -text
core/xpand.h -text
/lesser.txt -text
python/quikgrid/__init__.py -text
python/quikgrid/capi.py -text
python/quikgrid/capi_test.py -text
python/quikgrid/contours.txt -text
python/quikgrid/contours_geom.txt -text
python/quikgrid/grid.txt -text
python/setup.py -text
